.CompareNumbers {
  flex: 0 0 100%;
}
.CompareNumbers__main {
  display: flex;
  justify-content: flex-start;
}
.CompareNumbers__current-price {
  justify-content: flex-start;
  width: 50%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-family: var(--deco-font-family);
  font-size: 1.75rem;
}
.CompareNumbers__current-price .currency {
  font-size: 0.875rem;
  min-width: 85px;
  position: relative;
  top: 0.25rem;
  display: inline-block;
}
.CompareNumbers__current-price .decimal {
  font-size: 0.875rem;
}
.CompareNumbers__rest {
  width: calc(50% + 0.5rem);
  flex: 0 0 auto;
  padding: 0 0 0 0.5rem;
  font-size: 0.875rem;
}

.CompareNumbers.is-loading i {
  display: inline-block;
  margin: 0 0.25rem 0 0;
  width: 1rem;
  height: 1.5rem;
  background-color: #ccc;
}

@media only screen and (min-width: 576px) {
  .CompareNumbers__current-price {
    flex-direction: row;
  }
  .CompareNumbers__current-price .currency {
    top: -0.25rem;
    margin-left: 0.75rem;
  }
}

@media only screen and (min-width: 768px) {
  .CompareNumbers {
    order: 1;
    margin: 0;
    padding: 1rem 1.5rem;
  }
  .CompareNumbers__current-price {
    font-size: 5rem;
  }  
  .CompareNumbers__current-price .decimal {
    font-size: 1rem;
  }  
  .CompareNumbers__rest {
    padding: 0;
    font-size: 1rem;
    margin: 1rem 0;
  }  
  .CompareNumbers__footer {
    align-self: flex-end;
  }  
  .CompareNumbers.is-loading i {
    display: inline-block;
    margin: 0 0.5rem 0 0;
    width: 2rem;
    height: 5rem;
    background-color: #ccc;
  }  
}
