
:root {
  --base-box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
  --base-border-radius: 3px;
  --base-font-family: 'Roboto';
  --deco-font-family: 'Titillium Web';
  --base-text-color: #333;
  --border-radius-circle: 50%;
  --color-up: #00804b;
  --color-down: #f70052;
  --color-stable: #222;
  --color-alt-1: #7C3095;
  --color-alt-2: #6A63D3;
  --color-alt-3: #0083FF;
  --color-alt-4: #BA6695;
}
html {
  font-family: sans-serif;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--base-font-family);
  font-size: 100%;
  font-weight: var(--base-font-weight);
  line-height: 1.414;
  color: var(--base-text-color);
  background-color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: var(--deco-font-family);
  font-weight: 400;
  margin: 0;
  padding: 0;
}
strong {
  font-weight: 600;
}

/* Layout */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App > header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 75px;
  background-color: var(--color-stable);
  /*
  background-image: url('../images/bg-header.png');
  background-position: top left;
  background-size: cover;
  */
}
.container {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer {
  padding: 1rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .row {
    flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 992px;
    padding: 2rem 1rem;
  }
  .App > header .container {
    padding-top: 1rem;
  }
  .row {
    flex-direction: row;
  }
}

