/* dataviz -- Nivo */

.NivoLine {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin: 1rem 0 0 0;
}
.NivoLine__header {
  padding: 0 0 1rem 0;
}
.NivoLine__main {
  height: 220px;
  min-height: 0;
}
.NivoLine__footer {
  margin-top: 1rem;
}
.range {
  display: inline-block;
  width: 90px;
  margin: 0 0.75rem;
}
@media only screen and (min-width: 768px) {
  .NivoLine.weeks {
    flex: 0 0 calc(60% - 1rem);
    width: calc(60% - 1rem);
    order: 2;
    margin: 0 0 0 1rem;
  }
  .NivoLine__main {
    height: 240px;
  }
}
@media only screen and (min-width: 992px) {
  .NivoLine {
    margin: 2rem 0 0 0;
    padding: 1rem 1.5rem;
  }
  .NivoLine.days-7 {
    flex: 0 0 calc(60% - 2rem);
    width: calc(60% - 2rem);
    margin: 0 0 0 2rem;
  }
  .NivoLine__main {
    height: 280px;
  }
}
