.App > header .site-mark {
  position: relative;
  top: 0.375rem;
  display: inline-block;
  margin-right: 0.375rem;
  color: white;
  width: 1.75rem;
  height: 1.75rem;
}
h1.site-title {
  display: inline-block;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
}
p.site-tagline {
  display: none;
  font-weight: 400;
  color: black;
}
