/* stats -- common rules */

.stats {
  padding: 1rem;
  box-shadow: var(--base-box-shadow);
  border-radius: var(--base-border-radius);
  background-color: white;
}
.stats .header {
  padding: 0 0 0.5rem 0;
}
.stats .header h2 {  
  font-size: 1.5rem;
}
.stats .main {
  width: 100%;
}
.stats .footer {
  font-size: 0.75rem;
}
.stats .up {
  color: var(--color-up);
}
.stats .down {
  color: var(--color-down);
}
.stats .stable {
  color: var(--color-stable);
}
.stats .details > svg {
  position: relative;
  top: 0.35rem;
  margin-left: 0.5rem;
  color: white;
  background-color: var(--color-stable);
  border-radius: var(--border-radius-circle);
  padding: 0.25rem;
  width: 1.75rem;
  height: 1.75rem;
}

.stats .up > svg {
  background-color: var(--color-up);
}
.stats .down > svg {
  background-color: var(--color-down);
}
.stats .header .details {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 0.875rem;
}
.stats .currency {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--base-text-color);
}
.stats .data-source {
  font-size: 0.875rem;
}
.stats .notes {
  display: block;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 992px) {
  .stats .header h2 {  
    font-size: 1.75rem;
  }
  .stats .header h2 .details {  
    font-size: 1rem;
  }
}  